---

---

<div class="avatar">
  <span class="avatar-profile"></span>
  <img
    src="https://emoji.gg/assets/emoji/7279-vibecat.gif"
    width="34"
    class="avatar-fallback"
    title="Vibecat gif"
  />
</div>

<style>
  .avatar {
    height: 7rem;
    width: 7rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .avatar-profile {
    height: inherit;
    width: inherit;
    border-radius: inherit;
    background: url('https://avatars.githubusercontent.com/u/76869974?v=4')
      no-repeat center;
    background-size: cover;
    cursor: help;
  }

  .avatar-fallback {
    height: 3rem;
    width: 3rem;
    position: absolute;
    visibility: hidden;
  }
</style>

<script>
  const profile = document.querySelector('.avatar-profile') as HTMLInputElement;
  const fallback = document.querySelector(
    '.avatar-fallback'
  ) as HTMLInputElement;

  profile?.addEventListener('click', () => {
    profile.style.visibility = 'hidden';
    fallback.style.visibility = 'visible';
  });

  fallback?.addEventListener('click', () => {
    profile.style.visibility = 'visible';
    fallback.style.visibility = 'hidden';
  });
</script>
