---

---

<div class="avatar">
  <span class="avatar-profile"></span>
</div>

<style>
  .avatar {
    height: 7rem;
    width: 7rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .avatar-profile {
    height: inherit;
    width: inherit;
    border-radius: inherit;
    background: url('https://avatars.githubusercontent.com/u/76869974?v=4')
      no-repeat center;
    background-size: cover;
    cursor: help;
  }

  .avatar-profile:hover {
    background: url('https://emoji.gg/assets/emoji/7279-vibecat.gif') no-repeat
      center;
  }
</style>
