---
---

<div class="container"></div>

<style>
  .container {
    height: inherit;
    position: absolute;
    width: inherit;
    opacity: 1;
    background-color: var(--secondary-color);
  }

  @media (prefers-color-scheme: dark) {
    .container {
      opacity: 1;
      background-color: var(--secondary-color);
    }
  }
</style>
