---
interface Props {
  title: string;
  href: string;
  alt?: string;
}

const { title, href, alt } = Astro.props as Props;
---

<a href={href} title={alt ?? title} aria-label={alt ?? title}>
  {title}
</a>

<style>
  a {
    height: max-content;
    width: fit-content;
    padding: 0.6rem 2rem;
    border: var(--border-size) solid var(--border-color);
    background-color: transparent;
    color: var(--text-color);
    border-radius: var(--border-radius);
    margin: 0 0 1rem 0;
    transition: var(--transition-duration);
    cursor: pointer;
  }

  a:hover {
    border: var(--border-size) solid var(--border-color);
    background-color: var(--contrast-color);
    color: var(--text-color-inv);
  }
</style>
