---
interface Props {
  title: string;
  href: string;
  alt?: string;
}

const { title, href, alt } = Astro.props as Props;
---

<a href={href} title={alt ?? title}>
  {title}
</a>

<style>
  a {
    height: fit-content;
    width: fit-content;
    padding: 1rem 2rem;
    border: 1px solid var(--border-color);
    background-color: transparent;
    color: var(--color-text);
    border-radius: 10px;
    margin: 0 0 1rem 0;
    transition: 0.4s;
    cursor: pointer;
  }

  a:hover {
    border: 1px solid var(--border-color);
    background-color: var(--secondary-color);
    color: var(--color-text-inv);
  }
</style>
