---
interface Props {
  value: string;
  margin?: string;
  fontSize?: string;
  maxLine?: string;
  align?: boolean;
}

const {
  value,
  margin = '1rem 0',
  fontSize = '1em',
  maxLine,
  align = true,
} = Astro.props as Props;

const textAlign = align ? 'center' : 'initial';
---

<p class="description-container">
  {value}
</p>

<style define:vars={{ margin, fontSize, maxLine, textAlign }}>
  .description-container {
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: var(--maxLine);
    -webkit-box-orient: vertical;
    margin: var(--margin);
    font-size: var(--fontSize);
    text-align: var(--textAlign);
  }
</style>
