---
interface Props {
  height?: string;
  width?: string;
  margin?: string;
}

const {
  margin = 'var(--divider-margin)',
  height = 'var(--divider-height)',
  width = 'var(--divider-width)',
} = Astro.props as Props;
---

<div class="divider"></div>

<style define:vars={{ height, width, margin }}>
  .divider {
    margin: var(--margin);
    height: var(--height);
    width: var(--width);
    background-color: var(--divider-color);
  }
</style>
