---
interface Props {
  height?: string;
  width?: string;
  margin?: string;
}

const {
  margin = '1.5rem 0',
  height = '1px',
  width = '100%',
} = Astro.props as Props;
---

<div class="divider"></div>

<style define:vars={{ height, width, margin }}>
  .divider {
    margin: var(--margin);
    height: var(--height);
    width: var(--width);
    background-color: var(--divider-color);
  }
</style>
