---
import Icon from 'astro-icon';

interface Props {
  git: string;
  alt?: string;
  iconSize?: string;
}

const { git, alt, iconSize = '24' } = Astro.props as Props;
---

<a
  href={git}
  rel="noopener noreferrer"
  target="_blank"
  class="link-icon"
  title={alt}
  area-label={alt}
>
  <Icon name="simple-icons:github" size={iconSize} class="link-icon-st" />
</a>

<style>
  .link-icon-st {
    transition: color var(--transition-duration);
  }

  .link-icon-st:hover {
    color: gray;
  }
</style>
