---
import Icon from 'astro-icon';

interface Props {
  url: string;
  iconSize?: string;
}

const { url, iconSize = '24' } = Astro.props as Props;
---

<a href={url} rel="noopener noreferrer" target="_blank" class="link-icon">
  <Icon
    pack="simple-icons"
    name="github"
    size={iconSize}
    class="link-icon-st"
  />
</a>

<style>
  .link-icon-st {
    transition: color var(--transition-duration);
  }

  .link-icon-st:hover {
    color: gray;
  }
</style>
