---
import Icon from 'astro-icon';

interface Props {
  git?: string;
  url?: string;
  alt?: string;
  iconSize?: string;
}

const { git, url, alt, iconSize = '24' } = Astro.props as Props;
---

<a
  href={git || url}
  rel="noopener noreferrer"
  target="_blank"
  class="link-icon"
  title={alt}
  area-label={alt}
>
  <Icon
    name={git ? 'simple-icons:github' : 'gridicons:external'}
    size={iconSize}
    class="link-icon-st"
  />
</a>

<style>
  .link-icon {
    cursor: pointer;
  }

  .link-icon-st {
    transition: color var(--transition-duration);
  }

  .link-icon-st:hover {
    color: gray;
  }
</style>
