---
import { Icon } from 'astro-icon';
import SubTitle from './SubTitle.astro';

interface Props {
  height: string;
  width: string;
  link: string;
  icon?: string;
  iconSize: string;
  title?: string;
  alt?: string;
}

const { height, width, link, icon, iconSize, title, alt } =
  Astro.props as Props;
---

<a
  href={link}
  target="_blank"
  title={alt ?? title ?? link}
  area-label={alt ?? title ?? link}
  rel="noopener noreferrer"
>
  <div class="link-box">
    <Icon name={icon} size={iconSize} />
    {title && <SubTitle subTitle={title} />}
  </div>
</a>

<style define:vars={{ height, width }}>
  .link-box {
    height: var(--height);
    width: var(--width);
    border: var(--border-size) solid var(--border-color);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all var(--transition-duration);
    gap: 0.5rem;
  }

  .link-box:hover {
    border: var(--border-size) solid var(--primary-color);
    background-color: var(--border-color);
    color: var(--primary-color);
  }

  .link-box:hover > [astro-icon] {
    fill: var(--text-color-inv);
    color: var(--text-color-inv);
  }
</style>
