---
interface Props {
  title: string;
  href: string;
  alt: string;
  isLocal?: boolean;
}

const { title, href, alt, isLocal = true } = Astro.props as Props;
---

<a
  href={href}
  title={alt}
  rel={isLocal ? undefined : 'noopener noreferrer'}
  target={isLocal ? undefined : '_blank'}
>
  {title}
</a>

<style>
  a {
    height: max-content;
    width: fit-content;
    padding: 0.6rem 2rem;
    border: var(--border-size) solid var(--border-color);
    background-color: transparent;
    color: var(--primary-text-color);
    border-radius: var(--border-radius);
    margin: 0 0 1rem 0;
    transition: var(--transition-duration);
    cursor: pointer;
  }

  a:hover {
    border: var(--border-size) solid var(--border-color);
    background-color: var(--contrast-color);
    color: var(--secondary-text-color);
  }
</style>
