---
import { Image } from 'astro:assets';
---

<div class="logo-container">
  <Image
    src="/animated-logo.svg"
    alt="Logo"
    height={40}
    width={40}
    class={'logo-vector logo-black'}
  />
  <Image
    src="/animated-logo-white.svg"
    alt="Logo"
    height={40}
    width={40}
    class={'logo-vector logo-white'}
  />
</div>

<style>
  .logo-vector {
    height: 40px;
    width: 40px;
    gap: 0.5rem;
    align-items: center;
    pointer-events: none;
  }
</style>
