---
import { project } from '@constants/linkBox';
import Description from './Description.astro';
import Divider from './Divider.astro';
import LinkIcon from './LinkIcon.astro';
import Title from './Title.astro';

interface Props {
  title: string;
  description: string;
  url: string;
  height?: string;
  width?: string;
}

const {
  title,
  description,
  url,
  height = project.height,
  width = project.width,
} = Astro.props as Props;
---

<div class="project-item">
  <div class="item-header">
    <Title title={title} fontSize="0.9em" />
    <LinkIcon url={url} iconSize="20" />
  </div>
  <Divider width="100%" margin="0 0" />
  <Description value={description} width="100%" />
</div>

<style define:vars={{ height, width }}>
  .project-item {
    height: var(--height);
    width: var(--width);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0.2rem 1rem;
    transition: all 0.4s;
  }

  .item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
