---
interface Props {
  title?: string;
  margin?: string;
  fontSize?: string;
  textTransform?: string;
}

const { title, fontSize = '1.4em', textTransform } = Astro.props as Props;
---

{title ? <h3 class="sub-title">{title}</h3> : <slot />}

<style define:vars={{ fontSize, textTransform }}>
  .sub-title {
    margin: 1rem 0;
    font-weight: bold;
    font-size: var(--fontSize);
    display: inline;
    text-transform: var(--textTransform);
  }
</style>
