---
interface Props {
  subTitle: string;
  margin?: string;
  fontSize?: string;
}

const { subTitle, fontSize = '1em' } = Astro.props as Props;
---

<div class="sub-title">
  {subTitle}
</div>

<style define:vars={{ fontSize }}>
  .sub-title {
    font-size: var(--fontSize);
  }
</style>
