---
interface Props {
  title: string;
  margin?: string;
  fontSize?: string;
}

const { title, fontSize = '1.4em' } = Astro.props as Props;
---

<div class="sub-title">
  {title}
</div>

<style define:vars={{ fontSize }}>
  .sub-title {
    margin: 1rem 0;
    font-weight: bold;
    font-size: var(--fontSize);
  }
</style>
