---
interface Props {
  subTitle: string;
  margin?: string;
  fontSize?: string;
}

const { subTitle, margin = '1rem 0', fontSize = '1em' } = Astro.props as Props;
---

<div class="sub-title">
  {subTitle}
</div>

<style define:vars={{ margin, fontSize }}>
  .sub-title {
    margin: var(--margin);
    font-size: var(--fontSize);
  }
</style>
