---
interface Props {
  href: string;
  value: string;
  active?: boolean;
  title?: string;
}

const { title, href, value, active = false } = Astro.props;
---

{
  active ? (
    <a href={href} class="tag-item" title={title}>
      {value}
    </a>
  ) : (
    <span class="tag-item">{value}</span>
  )
}

<style>
  .tag-item {
    padding: 0.4rem;
    border-radius: var(--border-radius);
    border: var(--border-size) solid var(--border-color);
    transition: all 0.2s;
    white-space: nowrap;
  }

  .tag-item:hover {
    border: var(--border-size) solid var(--primary-color);
    background-color: var(--border-color);
    color: var(--primary-color);
    cursor: pointer;
  }
</style>
