---
interface Props {
  title: string;
  margin?: string;
  fontSize?: string;
  align?: boolean;
}

const { title, fontSize = '0.9em', align = true } = Astro.props as Props;

const textAlign = align ? 'center' : 'initial';
---

<h1 class="title-data">
  {title}
</h1>

<style define:vars={{ fontSize, textAlign }}>
  .title-data {
    font-size: var(--fontSize);
    font-weight: bold;
    text-align: var(--textAlign);
    text-rendering: optimizeLegibility;
  }
</style>
