---
interface Props {
  title: string;
  margin?: string;
  fontSize?: string;
  align?: boolean;
}

const {
  title,
  margin = '1rem 0',
  fontSize = '0.9em',
  align = true,
} = Astro.props as Props;

const textAlign = align ? 'center' : 'initial';
---

<h1 class="title-data">
  {title}
</h1>

<style define:vars={{ margin, fontSize, textAlign }}>
  .title-data {
    margin: var(--margin);
    font-size: var(--fontSize);
    font-weight: bold;
    text-align: var(--textAlign);
    text-rendering: optimizeLegibility;
  }
</style>
