---
interface Props {
  message: string;
  href?: string;
  id?: string;
  messageId?: string;
  position?: 'bottom' | 'top';
}

const { message, href, id, messageId, position = 'top' } = Astro.props;
const bottom = position === 'top' ? '100%' : '-100%';
const margin = position === 'top' ? '0 0 5px -60px' : '5px 0 0 -60px';
---

<div class="post-share-item" data-href={href} id={id}>
  <span class="post-share-item-tooltip" id={messageId}>{message}</span>
  <slot />
</div>

<style define:vars={{ bottom, margin }}>
  .post-share-item {
    position: relative;
    display: inline-block;
  }

  .post-share-item-tooltip {
    min-width: 120px;
    position: absolute;
    background-color: var(--contrast-color);
    color: var(--secondary-text-color);
    text-align: center;
    padding: 5px 5px;
    border-radius: var(--border-radius);
    visibility: hidden;
    z-index: 3;
    font-size: 0.85em;

    /* Location */
    left: 50%;
    bottom: var(--bottom);
    margin: var(--margin);
  }

  .post-share-item:hover .post-share-item-tooltip {
    visibility: visible;
  }
</style>
