---
interface Props {
  message: string;
  href?: string;
  id?: string;
  messageId?: string;
  position?: 'bottom' | 'top' | 'left' | 'right';
  attr?: Record<string, string>;
  messageAttr?: Record<string, string>;
}

const {
  message,
  id,
  messageId,
  position = 'top',
  messageAttr,
  attr,
} = Astro.props;
---

<div class="tooltip" id={id} {...attr}>
  {
    message && (
      <span
        class={`tooltip-message tooltip-position-${position}`}
        id={messageId}
        {...messageAttr}
      >
        <Fragment set:html={message} />
      </span>
    )
  }
  <slot />
</div>

<style>
  .tooltip {
    position: relative;
    display: inline;
  }

  .tooltip-message {
    visibility: hidden;
    width: 120px;
    background-color: var(--contrast-color);
    color: var(--secondary-text-color);
    text-align: center;
    border-radius: var(--border-radius);
    padding: 0.4rem;
    position: absolute;
    font-size: 0.85em;
  }

  .tooltip:hover .tooltip-message {
    visibility: visible;
  }

  .tooltip-message.tooltip-position-top {
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
  }

  .tooltip-message.tooltip-position-bottom {
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
  }

  .tooltip-message.tooltip-position-left {
    top: 50%;
    right: 110%;
    transform: translateY(-50%);
  }

  .tooltip-message.tooltip-position-right {
    top: 50%;
    left: 110%;
    transform: translateY(-50%);
  }
</style>
