.remark-code-tabs>label {
  display: flex;
  cursor: pointer;
  white-space: nowrap;
}

.remark-code-tabs>label>[type=radio] {
  appearance: none;
  margin: 0;
}

.remark-code-tabs> :not(label) {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 3;
}

.remark-code-tabs>label:not(:has(:checked))+* {
  visibility: hidden;
}

.remark-code-tabs-x {
  width: 0;
  height: 0;
  visibility: hidden;
}

.remark-code-tabs {
  margin: 20px 0;
  background-color: var(--primary-color);
  border: var(--border-size) solid var(--border-color);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  grid-template-rows: min-content auto;
  width: 100%;
  min-height: 10px;
}

.remark-code-tab {
  height: 2.5rem;
  width: fit-content;
  margin-left: 1rem;
  padding-inline-start: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remark-code-tab:first-child {
  border-top-left-radius: var(--border-radius);
}

.remark-code-tab:has(:checked) {
  display: flex;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}


.remark-code-tab:not(:has(:checked)) {
  background-color: var(--primary-color);
  color: var(--description-text-color);
  border-bottom: var(--border-size) transparent;
}

.remark-code-tab:has(:checked)>span {
  border-bottom: var(--border-size) solid var(--border-color);
}

.remark-code-content {
  overflow: auto;
  padding: 0.5rem;
}

.remark-code-content pre {
  margin: 0.6rem;
}

.remark-code-tabs-x {
  margin: 0 !important;
}

.remark-code-tabs>label:not(:has(:checked))+* {
  display: none;
}