.remark-readme-stats {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remark-readme-stats-dark,
.remark-readme-stats-light {
  pointer-events: none;
}

.remark-readme-stats-dark {
  visibility: hidden;
  display: none;
}

.remark-readme-stats-light {
  display: block;
}

@media (prefers-color-scheme: dark) {
  .remark-readme-stats-dark {
    visibility: initial;
    display: block;
  }

  .remark-readme-stats-light {
    visibility: hidden;
    display: none;
  }
}
