.remark-readme-stats {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.remark-readme-stats-dark,
.remark-readme-stats-light {
  pointer-events: none;
  width: 100%;
}

:root[data-theme="light"] .remark-readme-stats-dark {
  visibility: hidden;
  display: none;
}

:root[data-theme="dark"] .remark-readme-stats-light {
  visibility: hidden;
  display: none;
}