.codeset-wrapper {
  margin: 20px 0;
}

.tab-content {
  height: 300px;
  overflow: auto;
}

.nav-tabs {
  border-bottom: 1px solid var(--border-color);
  list-style-type: none;
  display: flex;
  gap: 0.3rem;
  padding-inline-start: 0 !important;
  margin: 0 !important;
}

.nav-tabs .nav-item {
  height: 2.8rem;
  width: 6rem;
  margin-bottom: -1px;
  display: flex;
  padding-inline-start: 0 !important;
}

.nav-tabs .nav-item .nav-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-size) solid var(--border-color);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom: none;
  text-decoration: none;
}

.nav-tabs .nav-link[class~='active'] {
  display: flex;
  background-color: #24292e;
  color: #fff;
}

.tab-content {
  height: fit-content;
  border: var(--border-size) solid var(--border-color);
  border-top: 0;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  background: #1f2428;
}

.tab-pane > pre {
  margin: 0 !important;
}

.frame > pre {
  border-radius: 0 !important;
}
