.remark-text-highlight {
  border-radius: var(--border-radius);
  overflow-wrap: anywhere;
  padding: .2rem .3rem;
  font-size: .888889em;
  user-select: all;
}

.remark-text-highlight.__underline {
  --color: rgb(66 218 218 / 1);

  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 40%;
  background-color: transparent !important;
  background-image: linear-gradient(to bottom left, var(--color), var(--color));
  border-radius: 0 !important;
  color: var(--primary-text-color) !important;
  transition: background-size var(--transition-duration) ease-in-out;
}

.remark-text-highlight.__underline.__animate:hover {
  background-size: 100% 100%;
}

.remark-text-highlight.__underline-slim {
  --color: #ff4500;

  background: none;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
  text-decoration-color: var(--color);
}

.remark-text-highlight.__wavy {
  --color: #ff4500;

  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--color);
}

.remark-text-highlight.__glow {
  --color: #71f051;

  font-weight: bold;
  text-shadow: 0 0 10px var(--color), 0 0 30px var(--color);
}

.remark-text-highlight.__gradient {
  --lgColor: #ff9a9e, #fad0c4;
  --color: #222;

  background: linear-gradient(90deg, var(--lgColor));
  color: var(--color);
}

.remark-text-highlight.__marker {
  --color: yellow;

  background-color: var(--color);
  box-shadow: inset 0 -10px 0 var(--color);
  padding: 0 4px;
}

.remark-text-highlight.__sketch {
  --color: var(--primary-text-color);

  position: relative;
  font-size: 1em;
  font-weight: bold;
}

.remark-text-highlight.__sketch::before {
  content: "";
  left: -0.5em;
  top: -0.1em;
  border-width: 2px;
  border-style: solid;
  border-color: var(--color);
  position: absolute;
  border-right-color: transparent;
  width: 100%;
  height: 1em;
  transform: rotate(2deg);
  opacity: 0.7;
  border-radius: 50%;
  padding: 0.1em 0.25em;
}

.remark-text-highlight.__sketch::after {
  content: "";
  left: -0.5em;
  top: 0.1em;
  padding: 0.1em 0.25em;
  border-width: 2px;
  border-style: solid;
  border-color: var(--color);
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  width: 100%;
  height: 1em;
  transform: rotate(-1deg);
  opacity: 0.7;
  border-radius: 50%;
}

.remark-text-highlight.__striped {
  --bgColor1: #ffcccb;
  --bgColor2: #ffe4e1;

  background: repeating-linear-gradient(45deg,
      var(--bgColor1),
      var(--bgColor1) 10px,
      var(--bgColor2) 10px,
      var(--bgColor2) 20px);

  padding: 3px 6px;
  transition: background-position 0.3s ease-in-out;
}

.remark-text-highlight.__striped.__animate:hover {
  animation: moveStripes 0.5s linear infinite;
}

@keyframes moveStripes {
  from {
    background-position: 10px 40px;
  }

  to {
    background-position: 40px 40px;
  }
}