---
import { getFormatedDate } from '@lib/date';

interface Props {
  updatedAt: string;
}

const { updatedAt } = Astro.props;
---

<div class="post-updated-at">
  <i>Last modified: {getFormatedDate(updatedAt, true)} UTC</i>
</div>

<style>
  .post-updated-at {
    width: 100%;
    margin: 1rem 0 0 0;
    display: flex;
    gap: 0.2rem;
    text-align: center;
  }

  .post-updated-at > i {
    width: 100%;
  }
</style>
