---
import { getDateAgo, getFormatedDate } from '@lib/date';

interface Props {
  date: string;
}

const { date } = Astro.props;
---

<span class="post-date">
  {getFormatedDate(date)}
</span>
<span class="post-time-ago">
  {getDateAgo(date)}
</span>

<style>
  .post-date,
  .post-time-ago {
    cursor: pointer;
    user-select: none;
  }

  .post-date:hover,
  .post-time-ago:hover {
    border-bottom: var(--border-size) solid var(--border-color);
  }

  .post-time-ago {
    display: none;
  }

  .show {
    display: block;
  }

  .ride {
    display: none;
  }
</style>

<script>
  const postDateAgo = document.querySelectorAll(
    '.post-time-ago'
  ) as NodeListOf<HTMLSpanElement>;
  const postDate = document.querySelectorAll(
    '.post-date'
  ) as NodeListOf<HTMLSpanElement>;

  for (let i = 0; i < postDateAgo.length; i++) {
    postDate[i]?.addEventListener('click', () => {
      postDateAgo[i].classList.toggle('show');
      postDate[i].classList.toggle('ride');
    });
  }

  for (let i = 0; i < postDateAgo.length; i++) {
    postDateAgo[i]?.addEventListener('click', () => {
      postDateAgo[i].classList.toggle('show');
      postDate[i].classList.toggle('ride');
    });
  }
</script>
