---
import { getFormatedDate } from '@lib/date';
import { useLocale } from 'i18n';
import Link from '../Link/Link.astro';

interface Props {
  id: string;
  updatedAt: string;
}

const { locale, t } = useLocale(Astro.url.pathname);

const { id, updatedAt } = Astro.props;
const GIT_REF = `https://github.com/LucJosin/lucasjosino.com/commits/main/src/content/blog/${id}`;
---

<div class="post-updated-at">
  <i class="post-updated-at-content">
    {t('post.last_updated')}
    <Link
      href={GIT_REF}
      alt={t('post.see_post_history')}
      title={getFormatedDate(updatedAt, true, locale)}
      isLocal={false}
    />
  </i>
</div>

<style>
  .post-updated-at {
    width: 100%;
    margin: 0 0 1rem 0;
    display: flex;
    gap: 0.2rem;
    text-align: center;
  }

  .post-updated-at-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
  }
</style>
