---
import { Icon } from 'astro-icon/components';

interface Props {
  icon: string;
}

const { icon } = Astro.props;
---

<span class="post-info-item">
  <Icon name={icon} />
  <slot />
</span>

<style>
  .post-info-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .post-info-item::after {
    content: '•';
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 0.2rem;
  }

  .post-info-item:last-child::after {
    content: '';
  }

  [data-icon] {
    font-size: 1.2em;
  }
</style>
