---
import Divider from '@components/core/Divider.astro';
import Footer from './Footer.astro';
import Header from './Header.astro';

interface Props {
  hasHeader?: boolean;
  maxWidth?: string;
  gap?: string;
}

const { hasHeader = true, maxWidth = '52rem', gap } = Astro.props;
---

<div class="layout-container">
  {hasHeader && <Header />}
  <slot />
  <Divider width="80%" />
  <Footer />
</div>

<style define:vars={{ maxWidth, gap }}>
  .layout-container {
    margin: 3vh 0 4vh 0;
    max-width: var(--maxWidth);
    width: 90%;
    min-width: 30rem;
    border-radius: var(--layout-border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: var(--gap);
  }

  .back-button {
    position: absolute;
    top: 0;
    left: 0;
  }

  .back-button:hover > [data-icon] {
    fill: gray;
    color: gray;
  }

  @media (max-width: 560px) {
    .layout-container {
      min-width: initial;
    }
  }
</style>
