---
import Icon from 'astro-icon';

interface Props {
  back?: string;
  maxWidth?: string;
  gap?: string;
}

const { back, maxWidth = '35rem', gap } = Astro.props;
---

<div class="layout-container">
  {
    back && (
      <a href={back} class="back-button" title="Back">
        <Icon name="mdi:arrow-left" width="24" />
      </a>
    )
  }
  <slot />
</div>

<style define:vars={{ maxWidth, gap }}>
  .layout-container {
    margin: 8vh 0 4vh 0;
    max-width: var(--maxWidth);
    width: 90%;
    min-width: 30rem;
    border-radius: var(--layout-border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: var(--gap);
  }

  .back-button {
    position: absolute;
    top: 0;
    left: 0;
  }

  .back-button:hover > [astro-icon] {
    fill: gray;
    color: gray;
  }

  @media (max-width: 560px) {
    .layout-container {
      min-width: initial;
    }
  }
</style>
