---
import Link from '@components/core/Link/Link.astro';
import LinkBox from '@components/core/Link/LinkBox.astro';
import Tooltip from '@components/core/Tooltip.astro';
import { useLocale } from 'i18n';

const { t, localizePath } = useLocale(Astro.url.pathname);
---

<div class="footer">
  <div class="footer-left">
    <div class="footer-links">
      <Tooltip message={t('common.footer.links.rss')}>
        <LinkBox
          href="/rss.xml"
          isLocal={false}
          alt={t('common.footer.links.rss')}
          icon="mdi:rss"
          padding="0.5rem"
          event=`RSS (Footer) - (${Astro.url.pathname})`
        />
      </Tooltip>
      <Tooltip message={t('common.footer.links.tags')}>
        <LinkBox
          href={localizePath('/blog/tags/')}
          alt={t('common.footer.links.tags')}
          icon="mdi:tags"
          padding="0.5rem"
        />
      </Tooltip>
      <Tooltip message={t('common.footer.links.source_code')}>
        <LinkBox
          href="https://github.com/LucJosin/lucasjosino.com"
          isLocal={false}
          alt={t('common.footer.links.source_code')}
          icon="simple-icons:github"
          padding="0.5rem"
        />
      </Tooltip>
    </div>
    © {new Date().getUTCFullYear()}
    <span class="footer-home">
      <Link href={localizePath('/')} alt="Lucas Josino" title="Lucas Josino" />
    </span>
    <div class="footer-powered">
      {t('common.footer.powered')}
      <Link
        href="https://astro.build/"
        isLocal={false}
        alt="Astro"
        title="Astro"
      />
    </div>
  </div>
</div>

<style>
  .footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .footer-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.89em;
    color: gray;
    gap: 0.2rem;
    text-align: center;
  }

  .footer-links {
    display: flex;
    gap: 1rem;
    margin: 0 0 1rem 0;
  }

  .footer-powered {
    display: flex;
    gap: 0.2rem;
  }
</style>
