---
import LinkBox from '@components/core/LinkBox.astro';
import { links } from '@constants/links';
---

<div class="links">
  {
    links.map((data) => (
      <LinkBox
        height="var(--link-box-height)"
        width="var(--link-box-width)"
        link={data.url}
        icon={data.icon}
        iconSize="20"
        title={data.name}
        alt={data.alt}
      />
    ))
  }
</div>

<style>
  .links {
    height: 50px;
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 415px) {
    .links {
      height: max-content;
      gap: 1rem;
      align-items: center;
      flex-direction: column;
    }
  }
</style>
