---
import LinkBox from '@components/core/LinkBox.astro';
import { links } from '@constants/links';
---

<div class="links">
  {
    links.map((data) => (
      <LinkBox
        link={data.url}
        icon={data.icon}
        iconSize="20"
        title={data.name}
        alt={data.alt}
      />
    ))
  }
</div>

<style>
  .links {
    width: 80%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  }
</style>
