---
interface Props {
  className: string;
}

const { className } = Astro.props as Props;
---

<div class:list={['menu-container', className]}>
  <slot />
</div>

<style>
  .menu-container {
    height: 35rem;
    width: 30rem;
    background-color: var(--primary-color);
    border-radius: var(--layout-border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 415px) {
    .menu {
      height: max-content;
      width: 80%;
    }
  }
</style>
