---
import Link from '@components/core/Link/Link.astro';
import ProjectCard from '@components/core/Project/ProjectCard.astro';
import SubTitle from '@components/core/SubTitle.astro';
import { getAllProjects } from '@lib/projects';
import { useLocale } from 'i18n';

const { locale, t, localizePath } = useLocale(Astro.url.pathname);
const projects = await getAllProjects(true, locale);
---

<section class="projects-section">
  <div class="projects-header">
    <SubTitle title={t('home.projects.title')} />
    <Link
      href={localizePath('/projects/')}
      alt={t('home.projects.see_more_alt')}
      title={t('home.see_more')}
      icon="mdi:arrow-right"
      iconSide="right"
      hasBorderBottom={false}
      animatedIcon
      event=`Projects (${Astro.url.pathname})`
    />
  </div>

  <div class="projects-container">
    {projects.slice(0, 2).map((data) => <ProjectCard project={data} />)}
  </div>
</section>

<style>
  .projects-section {
    height: max-content;
    width: 100%;
  }

  .projects-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .projects-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }
</style>
