---
import ProjectItem from '@components/core/ProjectItem.astro';
import Title from '@components/core/Title.astro';
import { projects } from '@constants/projects';
---

<div class="projects">
  <Title title="Projects" fontSize="1.3em" />

  <div class="projects-container">
    {
      projects.map((data) => (
        <ProjectItem
          title={data.title}
          description={data.description}
          git={data.git}
          url={data.url}
        />
      ))
    }
  </div>
</div>

<style>
  .projects {
    height: max-content;
    width: 80%;
  }

  .projects-container {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
</style>
