---
import LinkBox from '@components/core/LinkBox.astro';
import Title from '@components/core/Title.astro';
import { project } from '@constants/linkBox';
import { projects } from '@constants/projects';
---

<div class="projects">
  <Title title="Projects" fontSize="1.3em" />

  <div class="projects-container">
    {
      projects.map((data) => (
        <LinkBox
          height={project.height}
          width={project.width}
          link={data.url}
          icon={data.icon}
          iconSize="24"
        />
      ))
    }
  </div>
</div>

<style>
  .projects {
    height: fit-content;
    width: 80%;
  }

  .projects-container {
    display: flex;
    justify-content: space-between;
  }
</style>
