---
import LinkBox from '@components/core/LinkBox.astro';
import SubTitle from '@components/core/SubTitle.astro';
import { socials } from '@constants/socials';

interface Props {
  hasTitle?: boolean;
}

const { hasTitle = true } = Astro.props;
---

<div class="socials">
  {hasTitle && <SubTitle title="Socials" />}
  <div class="socials-container">
    {
      socials.map((data) => (
        <LinkBox
          link={data.url}
          icon={data.icon}
          iconSize="20"
          alt={data.alt}
          isLocal={false}
        />
      ))
    }
  </div>
</div>

<style>
  .socials {
    height: max-content;
    width: 80%;
  }

  .socials-container {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: 1rem;
  }
</style>
