---
import LinkBox from '@components/core/LinkBox.astro';
import Title from '@components/core/Title.astro';
import { socials } from '@constants/socials';
---

<div class="socials">
  <Title title="Socials" fontSize="1.3em" />
  <div class="socials-container">
    {
      socials.map((data) => (
        <LinkBox
          height="var(--social-lb-height)"
          width="100%"
          link={data.url}
          icon={data.icon}
          iconSize="24"
          alt={data.alt}
        />
      ))
    }
  </div>
</div>

<style>
  .socials {
    height: max-content;
    width: 80%;
  }

  .socials-container {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(4.3rem, 7rem));
    grid-auto-rows: minmax(1rem, auto);
  }

  @media (max-width: 415px) {
    .socials {
      text-align: center;
    }

    .socials-container {
      gap: 1rem;
      justify-content: center;
      grid-template-columns: repeat(1, var(--project-lb-width));
    }
  }
</style>
