---
import Tag from '@components/core/Tag.astro';

interface Props {
  tags: string[];
  title?: string;
  id?: string;
}

const { title, tags, id } = Astro.props;
---

<div id={id}>
  {title && <h2>{title}</h2>}
  <div class="tags">
    {
      tags.map((item) => {
        return <Tag>{item}</Tag>;
      })
    }
  </div>
</div>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 0.9em;
  }
</style>
