.alert {
  background-color: var(--secondary-color);
  position: relative;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin: 1.3333333em 0;
}

.alert-success {
  border-left: 5px #3fb950 solid;
}

.alert-info {
  border-left: 5px #58a6ff solid;
}

.alert-warning {
  border-left: 5px #d29922 solid;
}

.alert-danger {
  border-left: 5px #f85149 solid;
}

.alert > p::before {
  content: '';
  margin-bottom: 0.5rem;
  display: block;
  height: 20px;
  width: 100px;
}

.alert-success > p::before {
  background: url(https://raw.githubusercontent.com/Mqxx/GitHub-Markdown/main/blockquotes/badge/dark-theme/success.svg)
    no-repeat;
}

.alert-info > p::before {
  background: url(https://raw.githubusercontent.com/Mqxx/GitHub-Markdown/main/blockquotes/badge/dark-theme/info.svg)
    no-repeat;
}

.alert-warning > p::before {
  background: url(https://raw.githubusercontent.com/Mqxx/GitHub-Markdown/main/blockquotes/badge/dark-theme/warning.svg)
    no-repeat;
}

.alert-danger > p::before {
  background: url(https://raw.githubusercontent.com/Mqxx/GitHub-Markdown/main/blockquotes/badge/dark-theme/danger.svg)
    no-repeat;
}
