img {
  width: 100%;
  border-radius: var(--border-radius);
}

summary {
  cursor: pointer;
}

.autolink-header {
  margin-left: 0.5rem;
}

.medium-zoom-image {
  z-index: 2;
}

.remark-image-caption {
  width: 100%;
  text-align: center;
}

.remark-image-caption > figcaption {
  margin: 0 !important;
}
