img {
  width: 100%;
  border-radius: var(--border-radius);
}

summary {
  cursor: pointer;
}

.autolink-header {
  margin-left: 0.3rem;
}

.external-links {
  margin: 0 0.1rem -0.15rem 0.08rem;
}

.medium-zoom-image {
  z-index: 2;
}

.expressive-code .frame.is-terminal .header,
.expressive-code .frame .header {
  z-index: 0 !important;
}