---
import Divider from '@components/core/Divider.astro';
import Title from '@components/core/Title.astro';
import Links from '@components/data/Links.astro';
import MenuContainer from '@components/data/MenuContainer.astro';
import Projects from '@components/data/Projects.astro';
import Socials from '@components/data/Socials.astro';
---

<MenuContainer>
  <div class="info">
    <Title title="Lucas Josino | Developer" margin="0.2em 0" fontSize="1.2em" />
    <p class="menu-subtitle">@lucjosin | <a href="/lucjos.in">lucjos.in</a></p>
  </div>
  <Divider height="1px" width="80%" />
  <Links />
  <Socials />
  <Projects />
</MenuContainer>

<style>
  .info {
    text-align: center;
  }

  @media (max-width: 415px) {
    .info {
      margin-top: 3rem;
    }
  }
</style>
