---

---

<div class="post-info">
  <slot />
</div>

<style>
  .post-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
  }
</style>
