---
import Divider from '@components/core/Divider.astro';
import Link from '@components/core/Link.astro';
import Container from '@components/data/Container.astro';
import Layout from '@layouts/Layout.astro';

const encodedUrl = encodeURI(`[${Astro.url.pathname}]`);
const encodedCode = encodeURI('Status: 404');
---

<Layout
  title="404"
  description="Hi!, I'm Lucas Josino. Backend Developer. I'm currently working with Java (Spring Boot) development. "
>
  <main>
    <Container className="menu-404">
      <h1 class="text404">404</h1>
      <p>This page could not be found.</p>

      <Divider width="80%" />
      <Link title="Go Back" href="/" alt="Go back to home page" />

      <div class="help-container">
        <span class="help"
          >Need help?
          <a
            target="_blank"
            rel="noopener noreferrer"
            href={`https://github.com/LucJosin/lucasjosino.com/issues/new?title=${encodedUrl}&labels=${encodedCode}`}
            class="contact-link"
            >Github
          </a>
           |
          <a
            href=`mailto:contact@lucasjosino.com?subject=[404] Page: ${Astro.url.pathname}`
            class="contact-link"
            target="_blank"
            rel="noopener noreferrer"
            >contact@lucasjosino.com
          </a>
        </span>
      </div>
    </Container>
  </main>
</Layout>

<style>
  main {
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menu-404 {
    z-index: 1;
    position: relative;
    padding-bottom: 1rem 0 !important;
  }

  .text404 {
    font-size: 8em;
  }

  .help-container {
    height: 2rem;
    width: fit-content;
    position: absolute;
    bottom: 0;
  }

  .help {
    font-size: 0.8em;
  }

  .contact-link {
    border-bottom: 1px solid transparent;
    transition: var(--transition-duration);
  }

  .contact-link:hover {
    border-bottom: 1px solid var(--contrast-color);
  }
</style>
