---
import Divider from '@components/core/Divider.astro';
import Title from '@components/core/Title.astro';
import Tooltip from '@components/core/Tooltip.astro';
import Container from '@components/data/Container.astro';
import Socials from '@components/data/Socials.astro';
import { languages } from '@constants/languages';
import Layout from '@layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout
  title="About Me"
  description="Hi!, I'm Lucas Josino. Backend Developer. I'm currently working with Java (Spring Boot) development."
  shortlink="/about"
>
  <Container>
    <Title title="About Me" fontSize="2.5em" />
    <Divider height="1px" width="80%" />
    <article class="about-article">
      <section class="about-section section-text">
        <p>Hi, 👋!</p>
        <p>
          I'm <strong>Lucas Josino</strong>, a 21 y/o from <b>Brazil</b> and an enthusiastic
          <strong>Backend Developer</strong>. I'm currently pursuing a
          <b>Bachelor's degree in Information Systems</b>.
        </p>
        <p>
          I have always enjoyed <b>technology</b> and <b>innovations</b>, which
          is why I have been immersed in this world since I was young.
          Eventually, I decided to fully dedicate myself and pursue a degree in
          this field.
        </p>
        <p>
          I have been studying about <b>Backend & APIs</b> developement using
          <b>Java</b>, <b>Golang</b> and <b>Spring Boot</b> through courses/bootcamps
          and working on some
          <a href="/projects/" class="about-article-link">personal projects</a>.
          I aim to contribute as much as possible, continually developing more
          knowledge in areas and technologies that I enjoy.
        </p>

        <h2 id="beyond-the-code">Beyond the Code</h2>
        <p>
          Alongside my passion for technology, in my free time I enjoy <b
            >listening to music</b
          >, <b>working on personal projects</b>, <b>reading</b>, <b
            >playing video games</b
          >, and <b>chilling with my cats</b>.
        </p>
        <p>
          I'm also keen on <b>photography</b> and <b>cooking</b>.
        </p>

        <h2 id="toolbox">Toolbox</h2>
        <p>Programming languages, frameworks, and tools that i use:</p>
        <div class="about-languages">
          {
            languages.map((lang) => {
              return (
                <Tooltip message={lang.name}>
                  <Icon
                    name={lang.icon}
                    font-size="3em"
                    class="about-languages-language"
                  />
                </Tooltip>
              );
            })
          }
        </div>

        <h2 id="github-stats">Github Stats</h2>
        <p>
          <img
            src="https://raw.githubusercontent.com/LucJosin/github-stats-transparent/output/generated/overview.svg"
            alt="Github Overview"
          />
          <img
            src="https://raw.githubusercontent.com/LucJosin/github-stats-transparent/output/generated/languages.svg"
            alt="Github Languages"
          />
        </p>

        <h2 id="contact">Contact</h2>
        <p>Feel free to connect with me through:</p>
        <div class="about-contact">
          <Socials showName={true} showTooltip={false} justifyContent="left" />
        </div>
      </section>
    </article>
  </Container>
</Layout>

<style>
  .about-article {
    width: 100%;
    line-height: 1.65em;
    color: var(--description-text-color);
  }

  .section-text h2 {
    margin: 1rem 0 0 0;
  }

  .section-text ul {
    margin: 0;
  }

  .section-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .section-text ul {
    display: inline;
  }

  .about-languages {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .about-article-link {
    color: var(--description-text-color);
    text-decoration: underline;
    font-weight: bold;
    transition: opacity 0.2s;
    line-break: normal;
    text-decoration-line: underline;
    text-decoration-color: var(--description-text-color);
    text-decoration-thickness: 0.125rem;
    text-decoration-style: dashed;
    text-underline-offset: 0.25rem;
  }

  .about-article-link:hover {
    opacity: 0.7;
  }

  .about-languages-language {
    border: var(--border-size) solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 0.5rem;
  }

  .about-languages-language:hover {
    border: var(--border-size) solid var(--primary-color);
    background-color: var(--border-color);
    color: var(--primary-color);
    cursor: pointer;
  }

  .about-languages-language:hover > [data-icon] {
    fill: var(--secondary-text-color);
    color: var(--secondary-text-color);
  }

  @media (max-width: 640px) {
    .about-languages {
      justify-content: center;
    }
  }
</style>
