---
import Avatar from '@components/core/Avatar.astro';
import Divider from '@components/core/Divider.astro';
import Title from '@components/core/Title.astro';
import Links from '@components/data/Links.astro';
import MenuContainer from '@components/data/MenuContainer.astro';
import Projects from '@components/data/Projects.astro';
import Socials from '@components/data/Socials.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout
  title="Backend Developer"
  description="Hi!, I'm Lucas Josino. Backend Developer. I'm currently working with Java (Spring Boot) development. "
  shortlink="https://lucjos.in/"
>
  <MenuContainer>
    <div class="profile">
      <Avatar />
      <Title title="Lucas Josino" margin="0.2em 0" fontSize="1.4em" />
      <span class="menu-subtitle">Backend Developer</span>
      <span class="menu-subtitle">Java · Spring Boot</span>
    </div>
    <Divider height="1px" width="80%" />
    <Links />
    <Socials />
    <Projects />
  </MenuContainer>
</Layout>

<style>
  .credits {
    z-index: 2;
    position: absolute;
    bottom: 0.5rem;
    opacity: 0.6;
    font-size: 0.7em;
  }

  .credits-link {
    color: var(--text-color);
    border-bottom: 1px solid transparent;
  }

  .credits-link:hover {
    border-bottom: 1px solid var(--border-color);
  }

  .profile {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
  }
</style>
