---
import Layout from '@layouts/Layout.astro';
---

<Layout
  title="Developer"
  description="Hi!, I'm Lucas Josino. A Mobile Developer. Welcome to my world! "
>
  <main>
    <h1>Hello World!</h1>
  </main>
</Layout>

<style>

</style>
