---
import Avatar from '@components/core/Avatar.astro';
import Divider from '@components/core/Divider.astro';
import ThemeIcon from '@components/core/ThemeIcon.astro';
import Title from '@components/core/Title.astro';
import Container from '@components/data/Container.astro';
import Posts from '@components/data/Posts.astro';
import Projects from '@components/data/Projects.astro';
import Socials from '@components/data/Socials.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout
  title="Backend Developer"
  description="Hi!, I'm Lucas Josino. Backend Developer. I'm currently working with Java (Spring Boot) development."
  shortlink="/"
>
  <ThemeIcon position="absolute" />
  <Container maxWidth="35rem" hasHeader={false}>
    <section class="profile-section">
      <Avatar />
      <Title title="Lucas Josino" margin="0.2em 0" fontSize="1.4em" />
      <span>Backend Developer</span>
      <span>Java · Spring Boot</span>
    </section>
    <Divider width="80%" margin="1.5rem 0 0 0" />
    <Socials />
    <Projects />
    <Posts />
  </Container>
</Layout>

<style>
  .profile-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    margin-top: 4rem;
  }
</style>
