---
---

<div class="container"></div>

<style>
  .container {
    height: inherit;
    position: absolute;
    width: inherit;
    background: url('./static/images/background.jpg') no-repeat center;
    background-size: cover;
    opacity: 0.8;
  }

  .container::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(3px);
  }

  @media (prefers-color-scheme: dark) {
    .container {
      opacity: 0.2;
    }

    .container::after {
      backdrop-filter: blur(2px) grayscale(1);
    }
  }
</style>
