---
interface Props {
  height: string;
  width: string;
}

const { height, width } = Astro.props as Props;
---

<div class="link-box"></div>

<style define:vars={{ height, width }}>
  .link-box {
    height: var(--height);
    width: var(--width);
    border: 1px solid var(--border-color);
    border-radius: 10px;
  }
</style>
