---
import Divider from '@components/Divider.astro';
import SubTitle from '@components/SubTitle.astro';
import Title from '@components/Title.astro';
import Links from './Links.astro';
import Projects from './Projects.astro';
import Socials from './Socials.astro';
---

<div class="menu">
  <Title title="Lucas Josino" margin="0.2em 0" />
  <SubTitle subTitle="@LucJosin" margin="0 0" fontSize="0.9em" />
  <Divider height="1px" width="80%" />
  <Links />
  <Socials />
  <Projects />
</div>

<style>
  .menu {
    height: 35rem;
    width: 30rem;
    background-color: var(--primary-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
