---
import Link from '@components/core/Link/Link.astro';
import { Icon } from 'astro-icon/components';

interface Props {
  backTitle: string;
  backHref: string;
  backAlt: string;
  showIcon?: boolean;
}

const { backTitle, backHref, backAlt, showIcon = false } = Astro.props;
---

<div class="navigation">
  {showIcon && <Icon name="mdi:arrow-left" width="18" />}
  <Link title={backTitle} href={backHref} alt={backAlt} /> •
  <Link title="Lucas Josino" href="/" alt="Homepage" />
</div>

<style>
  .navigation {
    display: flex;
    gap: 0.2rem;
  }
</style>
