---
import LinkBox from '@components/LinkBox.astro';
import Title from '@components/Title.astro';
import { project } from '@constants/linkBox';
---

<div class="projects">
  <Title title="Projects" fontSize="1.3em" />

  <div class="projects-container">
    <LinkBox height={project.height} width={project.width} />
    <LinkBox height={project.height} width={project.width} />
  </div>
</div>

<style>
  .projects {
    height: fit-content;
    width: 80%;
  }

  .projects-container {
    display: flex;
    justify-content: space-between;
  }
</style>
